extends layout
block content
  #consult(data-role='page')
      div(data-role='header')
          h1 Ninjacode.tv app
        div(data-role='content')
          div#resultado
            ul(data-role='listview')
              each dato in datos
                li
                  h4=dato.title
                  p=dato.content
            br
          .ui-grid-a
            .ui-block-a
              button(type='v', data-theme='a') Facebook
            .ui-block-b
              button(type='v', data-theme='a') Twitter
        div(data-role='footer', data-position='fixed')
          div(data-role='navbar')
            ul
              li
                a(href='/', data-icon='home') Home
              li
                a(href='/insert', data-icon='grid') Insertar
              li
                a.ui-btn-active(href='/consult', data-icon='info') Consultar
              li
                a(href='/about', data-icon='star') Nosotros
              li
                a(href='/contact', data-icon='plus', data-rel='dialog') Contacto